.news {
     padding: 60px 3.4vw;

     &__head-logo {
          text-align: center;
     }

     &__menu {
          display: flex;
          justify-content: center;
          margin-top: 46px;
     }

     &__list {
          cursor: pointer;
     }


     .news-list--border {
          margin-right: 53px;

     }

     &__container {
          display: none;
          flex-wrap: wrap;
          margin-top: 49px;
     }

     &__img-wrap {
          max-width: 103px;
          height: 100px;
          width: 100%;
          margin-right: 30px;

          .img {
               height: 100%;
          }
     }

     &__box {
          width: 48.3%;
          background-color: #f6f6f6;
          margin-bottom: 20px;
          margin-right: 1.7%;

     }

     &__content {
          display: flex;
          padding: 15px 10px;
     }

     &__date {
          font-size: 0.875rem;
          line-height: 2.285;
     }

     &__text {
          font-size: 1rem;
          line-height: 2;
     }
}

.tab-active {
     display: flex;
     animation: fade 1.5s ease;
}

/*タブの下に下線*/
.tab-border {
     border-bottom: 1px solid #707070;

}

@keyframes fade {
     0% {
          transform: translateX(180px);
          opacity: 0;
     }

     100% {
          transform: translateX(0);
          opacity: 1;
     }
}